.register {
  width: 100vw;
  height: 100vh;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #da0037;
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  height: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
}

.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(133, 123, 123);
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #da0037;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.registerButton:focus {
  outline: none;
}

.registerButton:disabled {
  cursor: not-allowed;
}

.registerForgot {
  text-align: center;
  color: #1775ee;
}

.registerLoginButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #3a0ca3;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
